@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #202140;
  color: #444;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 0;
  color: #F2A74B;
  font-size: 7rem;
  text-align: center;
  opacity: 1;
}

form {
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline-color: #75BFB8;
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}

.todos li.completed p {
  color: #b6b6b6;
  text-decoration: line-through;
}

.todos .fa-check-circle {
  color: green;
}

.todos .fa-times {
  color: #D94A3D;
}

small {
  color: #F2EFDF;
  margin-top: 3rem;
  text-align: center;
}
